.todo-wrapper {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: plum;
  width: 300px;
}

.todo-wrapper button {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  background-color: rgb(238, 70, 70);
  border-radius: 3px;
  border: none;
}

.todo-wrapper button:hover {
  background-color: rgb(196, 54, 54);
}